.Display {
  width: 100%;
}

.data {
  position: relative;
  overflow: hidden;
  border-radius: 13px;
  width: 100%;
}

.iframe {
  border: none;
  position: absolute;
  border-radius: 13px;
}

.heatmapWrap {
  position: absolute;
  pointer-events: none;
  overflow: hidden;
}

.heatmap canvas {
  height: 100%;
  width: 100%;
}

.heatmap :global(.scroll) {
  opacity: 0.8;
}

.heatmap :global(.attention-block) {
  opacity: 0.4;
}

.scaleWrap {
  position: absolute;
  bottom: 24px;
  left: 24px;
  padding: 8px 8px 4px 8px;
  background-color: #ffffff;
  border-radius: 7px;
}

.scale {
  background: linear-gradient(
    90deg,
    rgba(47, 11, 255, 1) 0%,
    rgba(42, 122, 255, 1) 16%,
    rgba(2, 255, 144, 1) 33%,
    rgba(162, 255, 1, 1) 50%,
    rgba(252, 252, 0, 1) 66%,
    rgba(254, 141, 3, 1) 83%,
    rgba(255, 12, 0, 1) 100%
  );
  height: 24px;
  width: 96px;
  border-radius: 4px;
  opacity: 0.4;
  margin-bottom: 4px;
}

.labels {
  display: flex;
  font-size: 12px;
  opacity: 0.6;
  justify-content: space-between;
}

.toolbar {
  display: flex;
  justify-content: space-between;
}

