.test-x {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0.5rem 3rem 1.5rem 3rem;
  background: chartreuse;

  [class$="container"] {
    background: linear-gradient(
      91.85deg,
      #334169 0%,
      rgba(23, 37, 78, 0.4) 100%
    );
    border: 2px solid #a8a4a4;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
  }

  .heatmap-container {
  }

  .chart-container {
  }

  .video-container {
  }
}
