.container{
    max-width: 750pt;
    padding: 0 16pt;
    box-sizing: border-box;
    margin: auto;
    display: flex;
    align-items: center;
}

.oneMonth{
    display: block;
    margin: auto;
}

.toolbar{
    padding: 16px 0;
}